.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url('../assets/header.WebP'); /* Ruta a tu archivo GIF */
  background-repeat: no-repeat; /* Evita que el fondo se repita */
  background-size: cover; /* Cubre el fondo del elemento */
  background-position: center center; /* Centra el fondo horizontal y verticalmente */
  color: #fff;
  padding-bottom: 10px;
  top: 15%;
  width: 100%;
  height:100%;
  position: relative;
  overflow: hidden; /* Asegura que el contenido no se superponga con las olas */
}


.menu li.active a {
  background-color: #fff;
  color: #fd0003;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.mobile-menu-button {
  display: none;
}

.logo img {
  width: 150px;
  height: auto;
  cursor: pointer; /* Agrega el cursor de puntero al logo */
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
  background-color: transparent;
  color: #fd0003;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.cart-login {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.cart-login img {
  width: 50px;
  border-radius: 50%;
  align-items: center;
}

.cart-login a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
}

/* Estilos para la vista de dispositivos móviles (celulares) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #fc2003;
    color: #fff;
    padding-bottom: 10px;
    top: 15%;
    width: 100%;
  }

  .mobile-menu-button {
    display: flex;
    cursor: pointer;
    background-color: #fff;
    color: #fd0003;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    width: 100px;
    transition: transform 0.3s ease;
  }

  .mobile-menu-button:hover {
    background-color: #fff;
    color: #fd0003;
    text-align: center;
  }

  .show-mobile-menu {
    display: block;
    transform: translateY(0);
  }

  .hide-mobile-menu {
    display: none;
    transform: translateY(-100%);
  }

  .logo img {
    width: 100px;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    margin: 5px 0;
    margin-right: 20px;
    background-color: transparent;
    color: #fd0003;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
  }

  .cart-login {
    flex-direction: column;
    align-items: center;
  }

  .cart-login a {
    padding: 10px;
  }
}
